#games-list {
  margin-top: 72px;
}

.no-games {
  text-align: center;
  h2 {
    height: 23px;
    margin-top: 283px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #AFB4B3;
    opacity: 1;
  }
}
